* {
    margin: 0px;
    padding: 0px;
    /* box-sizing */
    box-sizing: border-box;
}
.login-form {
    /* absolute */
    position: absolute;
    /* top left transform 实现login-form在页面居中 */
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    height: 100%;
    /* background and ba color */
    background: #b2b3b4;
    /* flex */
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 2;
}
.login-form .form {
    padding: 10px;
    width: 400px;
}
.login-form .form .form-element {
    margin: 20px 0px;
}
.login-form .form .form-element h2 {
    margin: 20px 0px;
    text-align: center;
    color: #f5f5f5;
    font-size: 25px;
    font-weight: 400;
    text-transform: uppercase;
}
.login-form .form .form-element input {
    padding: 10px 0px;
    width: 100%;
    border: none;
    outline: none;
    border-radius: 0px;
    border-bottom: 1px solid #f5f5f5;
    color: #f5f5f5;
    background: transparent;
    font-size: 16px;
}
.login-form .form .form-element input::placeholder {
    color: #ddd;
    font-size: 16px;
    text-transform: uppercase;
}
.login-form .form .form-element button {
    width: 100%;
    height: 40px;
    margin-top: 10px;
    color: #000000;
    background: #f5f5f5;
    font-size: 18px;
    border: none;
    outline: none;
    text-transform: uppercase;
    transition: 200ms ease-in-out, color 200ms ease-in-out;
}
.login-form .form .form-element button:hover {
    color: #f5f5f5;
    background: #000000;
    border: 1px solid #f5f5f5;
}